
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  background: #403D3D;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
 

}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color:#1D976C;
  background-size: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #56E2A7;
  color: #000000;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #56E2A7;
  transition: all 0.3s ease;
}

.hero {
  background: white;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}

.hero__container {
  background:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero{
  background:white;
}
.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #56E2A7;
}


.hero__description {
  font-size: 60px;
  background: #423f43; 
  background: -webkit-linear-gradient(
    to right,
    #423f43,
    #423f43
  ); 
  background: linear-gradient(
    to right,
    #423f43,
    #423f43
  ); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

body{
  color: white;
}

.App{
  background-color: #F2F2F2;
}

header{
  background-color: white; 
  border-color:black;
  position: absolute;
  text-align: center; 
  top: 10px; 
  width: 100%; 
  display: block; 
  box-sizing: inherit; 
}

/* About Section */
.main {
  background-color: #2d4341;
  padding: 10rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 2rem;
  background-color: #EEF2F1;
  background-image: linear-gradient(to top, #EEF2F1 0%, #EEF2F1 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 3rem;
  background: #EEF2F1; 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #EEF2F1;
}


/* Explore button-hero section */
.main__btn {
  font-size: 1.8rem;
  background:#000000;  
  background: -webkit-linear-gradient(to right, #403D3D, #403D3D);  
  background: linear-gradient(to right, #403D3D, #403D3D); 
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}


.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  color: #fff;
  background-image: url("") ;
  background: #1D976C;  
background: -webkit-linear-gradient(to right, #C4C4C4, #C4C4C4); 
background: linear-gradient(to right, #C4C4C4, #C4C4C4); 

}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#video {
  background-color: #EFEFEF;
  padding: 10rem 0;
}

#contactus {
  background-color: #656c6c;
  padding: 10rem 0;
}

#videocard{
  width: 100%;
  height: 358px ;
}

iframe{
  width:700px;
  height:400px;
  margin-left:25px;
  border:0;
  
}

/* topic button style:  */

.topic-btn{
  background-color:#f3f3f3b9;
  border-radius: 10px;
  display: flex;
}

/* video wrapper style:  */

.cards_wrapper {
  width:42%;
  display:inline-flexbox;
  margin-left:auto;
  max-width: 100%;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #9c9999;
  justify-content:space-evenly;
  padding-top:20px;
 
}

.main__video__content{
 /* display:block; */
 /* position:relative; */
 /* margin-top: 0; */
 /* padding: 1em 1em; */
 background-color:white;
 /* flex-direction:column; */
}

.video-item {
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 300px;
  max-height: 250px ;
}

.introvideo{
  width:450px;
  height: 400px;
  padding-top: 40px;
}