body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: #403d3d;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: -20px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #1d976c;
  background-size: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #56e2a7;
  color: #000000;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #56e2a7;
  transition: all 0.3s ease;
}

.hero {
  background: white;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}

.hero__container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero {
  background: white;
}
.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #56e2a7;
}

.hero__description {
  font-size: 60px;
  background: #423f43;
  background: -webkit-linear-gradient(to right, #423f43, #423f43);
  background: linear-gradient(to right, #423f43, #423f43);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

body {
  color: white;
}

.App {
  background-color: #f2f2f2;
}

header {
  background-color: white;
  border-color: black;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  display: block;
  box-sizing: inherit;
}

/* About Section */
.main {
  background-color: #2d4341;
  padding: 10rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 2rem;
  background-color: #eef2f1;
  background-image: linear-gradient(to top, #eef2f1 0%, #eef2f1 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 3rem;
  background: #eef2f1;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #eef2f1;
}

/* Explore button-hero section */
.main__btn {
  font-size: 1.8rem;
  background: #000000;
  background: -webkit-linear-gradient(to right, #403d3d, #403d3d);
  background: linear-gradient(to right, #403d3d, #403d3d);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  color: #fff;
  /* background-image: url("") ; */
  background: #1d976c;
  background: -webkit-linear-gradient(to right, #c4c4c4, #c4c4c4);
  background: linear-gradient(to right, #c4c4c4, #c4c4c4);
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}
.home-landing {
  padding: 200px;
  background-color: ;
}
.main-video-spacer {
  padding: 15px;
  background-color: rgb(229, 224, 218);
}

#video {
  background-color: #efefef;
  padding: 10rem 0;
}

#contactus {
  background-color: #656c6c;
  padding: 10rem 0;
}

#videocard {
  width: 100%;
  height: 358px;
}

iframe {
  width: 700px;
  height: 400px;
  margin-left: 25px;
  border: 0;
  padding-top: 20px;
}

/* topic button style:  */

.topic-btn {
  /* background-color:transparent;
  border-radius: 20px;
  border-color: rgb(255,255,255);
  color: white;
  width: auto;
  padding: 0, 16px;
  justify-content:space-evenly; */
  /* display: flex; */
  background-color: transparent;
  color: var(--color);
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  padding: 0 18px;
  border: 2px solid;
  border-radius: 999px;
  height: 48px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.topic-btn:hover {
  background-color: rgba(255, 255, 255, 0.408);
}

/* video wrapper style:  */

.video-card-div {
  display: flex;
}

.cards_wrapper {
  width: 42%;
  margin-left: auto;
  max-width: 100%;
  justify-content: space-evenly;
  padding-top: 20px;
  max-height: 1000px;
  overflow-y: scroll;
}

.main__video__content {
  display: inline-block;
  /* position:relative; */
  /* margin-top: 0; */
  padding: 200px;
  background-color: rgba(29, 44, 47);
  /* background-image:url(/Users/tpl522_2/tera/client/src/images/terawallpaper.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  padding-bottom: 30px;
  justify-content: center;
  /* flex-direction:column; */
}

.video-item {
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 300px;
  max-height: 250px;
}

.introvideo {
  width: 450px;
  height: 400px;
  padding-top: 40px;
}

.video-cards {
  background: rgb(31, 31, 31);
  width: 330px;
  margin: auto;
  margin-bottom: 1rem;
  padding: 15px;
}

.note-section {
  display: flex;
}

/* landing-page */
.landing-h1 {
  color: black;
}

.main-video {
  background-color: rgb(233, 233, 233) !important;
}

.fav-btn {
  background-color: #cb7428;
  color: #fff;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 5px;
  padding: 0 10px;
  font-family: MaisonNeue, Helvetica, sans-serif;
}

.play-next {
  background-color: #cb7428;
  color: #fff;
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0 10px;
  font-family: MaisonNeue, Helvetica, sans-serif;
}
