.main-video-favList {
  padding: 200px;
  background-color: rgb(9, 23, 30);
}

.blank-favs {
  /* padding-top:20px;
    background-color: rgb(239,239,239); */
}

.fav-video-mid-section {
  color: rgb(28, 28, 28);
  font-size: 60px;
  padding: 10px;
  margin: 10px;
}

.add-form-btn {
  background-color: #cb7428;
  color: #fff;
  border-radius: 9999px;
  width: 100px;
  padding: 8px 24px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: flex;
  min-height: 48px;
  transition: 0.3s;
  font-family: MaisonNeue, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
}

.fav-video-list {
  background-color: rgb(251, 249, 248);
  padding: 50px;
  padding-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
 
  
}

.favorites-videos-div {
  background-color: rgb(22,41,52);
  padding-left: 100px;
  align-items: center;
  
}

.favorites-cards {
  background: rgb(42,56,68);
  max-width: 330px;
  margin-bottom: 1rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 25px;
}


.fav-vid-image {
  width: 200px;
  height: 100px;
  padding: 5px;
}

.unlike-btn {
  background-color: rgb(247,230,221);
  color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 5px;
  padding: 0;
  font-family: MaisonNeue, Helvetica, sans-serif;
}

footer {
  background-color: rgb(34, 34, 34);
  padding: 200px;
}

form {
  margin: 20px;
  background-color: rgb(31, 45, 44);
  padding: 30px;
  max-height: 100%;
  justify-content: flex-start;
  border-radius: 10px;
  border:none;
  
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.text-area {
  height: 100px;
  width: 800px;
  border-radius: 5px;

}

input{
  border-radius: 20px;
  padding: 5px;
}

.search-bar{
  width: 400px;
  padding: 8px;
  border-radius: 20px;
}

.iframe-div{
  align-items:center;
}

.liked-videos{
  font-size: 36px;
  margin:0;
  padding: 30px;
  color: white;
  background-color: rgb(22,41,52);
  text-align:center;
  
}

.user-name-welcome{
  font-size: 70px;
}

.search-label{
  display: block;
  font-size: 20px;
  color:rgb(28,28,28);
  
}

.post-wrapper{
  background-color: rgb(251,249,248);
  /* max-width:400px; */
  height: 330px;
  overflow: scroll;
  width: 900px;
  margin-top:0px;
  border: 0;
  display:flex;
  flex-direction: row-reverse;

}

.posts-date{
  color:black;
}

.posts-question{
  color:black;
}

.posts-post{
  color:black;

}

.post-section{
  display:flex;
  padding: 10px;
  margin-top: 20px;
  flex-direction: row-reverse;
 
}

.posts-cards{
  text-align: center;
    padding: 50px;
    margin: 20px;
    list-style-type: none;
    border-radius: 5px;
    width: 280px;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    overflow-y: scroll; 
    background-color: rgb(242,238,234); 
    color:#656565;
    font-family: "metropolis-regular", sans-serif
}

.fav-cards-wrapper{
  display: inline-block;
  flex-direction:row;
}

.form-cards{
  display: inline-block;
}

.day-note-section{
  height: 400px;
}

#add-journal-entry{
  width: 100%;
}

iframe{
  width: 1000px;
  height: 500px;
  background-color:rgb(22,41,52);
  padding: 20px;
  margin-top: 20px;
}